<div>
    <div>
        <!-- This is the div for the image part of the dashboard -->
        <div class="my-div">
            <div class="div-header">
                <!-- This div constitutes the navigational bar of the my-div -->
                <div class="navbar">
                    <!-- these are the elements within the navigational bar -->
                    <div class="elements">
                        <span>Add Restaurants</span>
                        <span id="firstSpan"> Log in</span>
                        <span id="secondSpan">Sign up</span>
                    </div>
                </div>
            </div>
            <!-- this is the div for the body of the image -->
            <div class="div-body">
                <div class="mydivBody">
                    <div class="image-body">
                        <div class="logo-body">
                            <div class="logo"></div>
                        </div>
                        <div class="body-tag">
                            <h1>Find the best restaurants, cafes and bars in India </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Now this is the part of the code where we will write our page content -->
        <!-- <div>
            <div class="tag-line">
                <h1>Popular locations in India</h1>
            </div>
        </div> -->
    </div>
</div>